In [1]:
import pandas as pd

In [3]:
#Import data about best selling books on amazon
amazon=pd.read_csv("SQLite.csv")

In [4]:
#Check the number of the rows and columns
amazon.shape

(1094, 7)

In [5]:
#Check firs five rows of data
amazon.head(5)

,Year,Rank,Book_Title,Author,Rating,Num_Customers_Rated,Price
0,2010,1,The Girl Who Kicked the Hornet's Nest (Millenn...,Stieg Larsson,4.7,8475,17.24
1,2010,2,The Girl with the Dragon Tattoo (Millennium Se...,Stieg Larsson,4.4,11516,9.99
2,2010,3,Decision Points,George W. Bush,4.6,2201,17.80
3,2010,4,The Help,Kathryn Stockett,4.8,14772,14.97
4,2010,5,The Girl Who Played with Fire (Millennium Series),Stieg Larsson,4.7,7949,0.02

In [6]:
# Check the data types of columns
amazon.dtypes

Year                     int64
Rank                     int64
Book_Title              object
Author                  object
Rating                 float64
Num_Customers_Rated      int64
Price                  float64
dtype: object

In [8]:
#Remove duplicates
amazon.drop_duplicates()
print(amazon.shape)

(1094, 7)

In [9]:
#Drop rows where data is missing
amazon.dropna()
amazon.shape

(1094, 7)

In [10]:
#Check for missing data in each column
amazon.isnull().sum()

Year                   0
Rank                   0
Book_Title             0
Author                 0
Rating                 0
Num_Customers_Rated    0
Price                  0
dtype: int64

In [11]:
#Check for the names of all columns 
amazon.columns

Index(['Year', 'Rank', 'Book_Title', 'Author', 'Rating', 'Num_Customers_Rated',
       'Price'],
      dtype='object')

In [12]:
#Rename the columns
amazon.rename(columns = {"Book_Title":"Title", "Author":"Authors", "Num_Customers_Rated":"Rating_Counts"}, inplace="True")

In [13]:
amazon.head(2)

,Year,Rank,Title,Authors,Rating,Rating_Counts,Price
0,2010,1,The Girl Who Kicked the Hornet's Nest (Millenn...,Stieg Larsson,4.7,8475,17.24
1,2010,2,The Girl with the Dragon Tattoo (Millennium Se...,Stieg Larsson,4.4,11516,9.99

In [14]:
amazon.to_csv('books_two.csv')