In [1]:
import pandas as pd

In [2]:
# read csv using absolute path
books=pd.read_csv(r"C:\Users\ena08\OneDrive\Radna površina\books.csv", on_bad_lines='skip')

In [3]:
#Look into first five rows of data using iloc
books.iloc[0:5]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [4]:
#Look into first two rows of data using function head
books.head(2)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.

In [5]:
#Check the number of the rows and columns
books.shape

(11123, 12)

In [6]:
# Check the data types of columns
books.dtypes

bookID                  int64
title                  object
authors                object
average_rating        float64
isbn                   object
isbn13                  int64
language_code          object
  num_pages             int64
ratings_count           int64
text_reviews_count      int64
publication_date       object
publisher              object
dtype: object

In [7]:
#Remove duplicates
books.drop_duplicates()
print(books.shape)

(11123, 12)

In [8]:
#Drop rows where data is missing
books.dropna()
books.shape

(11123, 12)

In [9]:
#Checking for all the names of column in DataFrame
books.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

In [10]:
#Drop unwanted columns
books=books.drop(['isbn13', "text_reviews_count", "publisher"], axis=1)
books.head(2)

,bookID,title,authors,average_rating,isbn,language_code,num_pages,ratings_count,publication_date
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,eng,652,2095690,9/16/2006
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,eng,870,2153167,9/1/2004

In [11]:
#Rename the columns
books.rename(columns = {"bookID":"ID", "title":"Title", "authors":"Authors","average_rating":"Rating",
                        "isbn":"ISBN", "language_code":"Language", "num_pages":"Pages", "ratings_count":"Rating_Counts",
                        "publication_date":"Publication_Date"}, inplace="True")

In [12]:
#Set column ID as index
books.set_index('ID').head(2)

,Title,Authors,Rating,ISBN,Language,num_pages,Rating_Counts,Publication_Date
ID,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,eng,652,2095690,9/16/2006
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,eng,870,2153167,9/1/2004

In [13]:
books.to_csv('books_one.csv')